#app{
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    margin: 0 auto;
}
.button-cancel-save{
    text-align: end;
    grid-gap: 10px;

}
.save {     margin-left:10px; }
.tab-content>.active {
    display: block;
    opacity: 1;
}