.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 45px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
} 

/* Style the sidenav links and the dropdown button */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
.sidenav a:hover {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: green;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
} 

/* On mouse-over */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Add an active class to the active dropdown button */
.active-nav-link{
    background-color: green;
    color: white;
}
a.active-nav-link{
    background-color: green;
    color: white;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 