.navigation-bar {
    height: 45px; 
    background-color: black; /* change to desired color */
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 28px;
    margin-right: 22px;
    margin-top: 9px;
    margin-left: 26px;
    border-radius: 5px;
    cursor: pointer;
}
.logo-color{
    color: #ccc;
}
.navigation-bar   a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 45px;     
    line-height: 47px;
}
.dropdown{
    width: 31%;
}
.dropbtn{
    padding: 0 8px 0 10px;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: green;
    color: white;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.sub-menu{
    height: 20px;
}
  
.dropdown-content a {
    float: none;
    padding: 14px 22px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-right: 0;
    line-height: 1;
}

.dropdown-content a:hover {
background-color: #ddd;
}

.dropdown:hover .dropdown-content {
display: block;
}